/* General styles -------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Syne Mono', monospace;
    background-color: #fafafa;
}

.page-heading {
    padding-left: 4rem;
    margin-top: 4rem;
}

/* Navigation bar -------*/

nav {
    background-color: rgb(253, 253, 253);
}


/* Footer -------*/

footer {
    height: 150px;
    background-color: black;
    text-align: center;
}

footer a {
    color: rgb(253, 253, 253);
}

footer a:hover {
    text-decoration: none;
    color: rgba(247, 246, 245, 0.5);
}

#footer-heading {
    padding: 1.5rem;
}

ul#footer-social {
    padding-right: 1rem;
}

#footer-social li {
    display: inline;
}

#footer-social i {
    font-size: 120%;
    padding: 1%;
}

/* Hero image -------*/

#hero-image {
    height: 750px;
    width: 100%;
    background: url(../images/hero-placeholder.jpg) no-repeat center center;
    background-size: 100%;
    margin-top: 57px;
    margin-bottom: 45px;
    opacity: 0;

    animation-name: hero-appear; 
    animation-duration: 2s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 1024px) {
    #hero-image {
        height: 430px;
    }
}

@media screen and (max-width: 649px) {
    #hero-image {
        height: 250px;
        margin-bottom: 0.5rem;
    }
}

/* animation learnt from https://www.youtube.com/watch?v=zHUpx90NerM&ab_channel=TraversyMedia at around 33 minutes */
@keyframes hero-appear {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* Calls to action --------*/

.cta {
    text-align: center;
    height: 200px;
    margin-top: 1.5rem;
    border: solid;
}

.cta-content {
    padding-top: 13%;
    padding-right: 15%;
    padding-left: 15%;
}

a.btn.btn-primary.btn-lg {
    background-color: #D85656;
    border: none;
}

a.btn.btn-primary.btn-lg:hover {
    background-color: black;
    color: #fafafa;
}

a.btn.btn-primary.btn-lg:active {
    background-color: #fafafa;
    color: black;
    border: 1px solid grey;
}

#cta-section {
    margin-bottom: 2.5rem;
}

/* Music page --------*/

.music-content {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#youtube-iframe {
    height: 400px;
    width: 100%;
}

#soundcloud-iframe {
    width: 100%;
    height: 300px;
}