/* General styles -------*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Syne Mono', monospace;
}

h1 {
	margin-top: 5rem;
	margin-left: 20%;
	font-size: 3.5rem;
	text-decoration: underline;
}

h2 {
	font-size: 175%;
}

.alt-font {
	font-family: 'JetBrains Mono', monospace;
}


/* Navigation bar -------*/

nav {
	background-color: rgba(253, 253, 253, 0.9);
	font-size: 117%;
}

.navbar-brand {
	font-size: 118%;
	margin-right: 0;
}

.navbar-light .navbar-nav .nav-link:hover,
a:hover {
	color: #c4302b;
	transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:active {
	color: black;
}


/* Overide of default Bootstrap navbar active page colour */

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: #c4302b;
}

button.navbar-toggler.ml-auto,
button.navbar-toggler.ml-auto.collapsed {
	border: none;
	outline: none;
}

#nav-main-links {
	position: relative;
	left: 11%;
	font-size: 112%;
}

#nav-social-links a {
	padding-right: 5px;
}


/* Footer -------*/

footer {
	height: 150px;
	background-color: black;
	text-align: center;
}

footer a {
	color: rgb(253, 253, 253);
}

footer a:hover {
	text-decoration: none;
	color: rgba(247, 246, 245, 0.5);
	transition: 0.4s;
}

#footer-heading {
	padding: 1.75rem 0.75rem 0.25rem 0.5rem;
	font-size: 175%;
	display: block;
	margin-bottom: 5px;
}

ul#footer-social-links {
	padding-right: 1rem;
}

#footer-social-links li {
	display: inline;
	font-size: 1.5rem;
}

#footer-social-links i {
	font-size: 120%;
	padding: 0.5rem;
}


/* index.html --------*/


/* Hero image*/

#hero-outer {
	margin-top: 56px;
	margin-bottom: 20px;
}


/* Calls to action */


/* credit: box shadow researched from https://css-tricks.com/almanac/properties/b/box-shadow/ */

.cta {
	text-align: center;
	height: 200px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 1px solid #686868;
	border-radius: 20px;
	box-shadow: 4px 2px 4px #ccc;
	background-color: #f2f0f0;
}

.cta-content {
	padding-top: 40px;
	padding-right: 15%;
	padding-left: 15%;
	margin-top: 2%;
}

.cta-button {
	background-color: #c4302b;
	border: none;
	margin-top: 10px;
}

.cta-button:hover {
	background-color: black;
	color: #fafafa;
	transition: 0.5s;
}

a.btn.btn-primary.btn-lg:active {
	background-color: #fafafa;
	color: black;
	border: 1px solid #686868;
}


/* credit: outline and box-shadow info to overide boostrap courtesy of Janak's post on https://stackoverflow.com/questions/23333231/bootstrap-button-shows-blue-outline-when-clicked */

a.btn.btn-primary.btn-lg:focus {
	background-color: #fafafa;
	color: black;
	border: 1px solid #8cc1fa;
	outline: none !important;
	box-shadow: none !important;
}

#index-cta-section {
	margin-bottom: 2.5rem;
}


/* youtube iframe on index.html */

.music-alert {
	margin-top: 20px;
}

#index-music-section {
	padding-bottom: 20px;
}

#index-youtube {
	padding-left: 0;
	padding-right: 0;
}

div#music-cta {
	margin-bottom: 0;
	font-size: 135%;
	padding-top: 5px;
}

.cta#music-cta {
	height: 128px;
	margin-top: 0;
}

#listen-button {
	padding-left: 8px;
	padding-right: 8px;
}

#music-cta a {
	font-size: 80%;
}

#music-cta h3 {
	font-size: 90%;
	margin-top: 10px;
}

a#listen-button {
	margin-top: 0;
}


/* Tour dates */

.venue {
	color: #c4302b;
}

.date {
	font-size: 150%;
}

.tour-dates-content {
	padding-bottom: 20px;
	margin-top: 32px;
	margin-bottom: 16px;
	border-bottom: 1px solid #e3e3e3;
}

h2.index-header {
	margin-bottom: 2rem;
	padding-top: 2rem;
	font-size: 250%;
	text-decoration: underline;
	font-weight: 800;
	left: 9%;
}

.ticket-button:hover {
	background-color: #c4302b;
	border: 1px solid #c4302b;
	transition: 0.5s;
}

.ticket-button:focus {
	border: 1px solid #8cc1fa;
	background-color: #fff;
	color: black;
	outline: none !important;
	box-shadow: none !important;
}

.tour-dates-content:nth-of-type(1) {
	margin-top: 16px;
}

.tour-dates-content:nth-of-type(4) {
	border-bottom: none;
	margin-bottom: 5px;
}

a.btn.btn-dark.ticket-button:active {
	background-color: #fafafa;
	color: black;
	border: 1px solid #8cc1fa;
}

#tour-dates-section p {
	font-size: 30px;
}


/* music.html --------*/

.music-heading {
	text-align: center;
	font-size: 210%;
	padding-bottom: 10px;
	padding-top: 15px;
}

.music-content {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.youtube-iframe {
	height: 400px;
	width: 100%;
}

.releases {
	margin-bottom: 15px;
	width: 18rem;
}

#soundcloud-logo {
	color: #ff7700;
}

#soundcloud-iframe {
	width: 100%;
}

#youtube-logo {
	color: #c4302b;
}

#buy-now-button {
	margin-left: 67px;
	margin-top: 0px;
}


/* gallery.html -------*/

.photo {
	padding: 15px;
}


/* credit: box shadow researched from https://css-tricks.com/almanac/properties/b/box-shadow/ */

.photo>img {
	box-shadow: 4px 2px 4px #ccc;
	border-radius: 16px;
}

#gallery {
	margin-bottom: 15px;
}


/* about.html -------*/


/* credit: box shadow researched from https://css-tricks.com/almanac/properties/b/box-shadow/ */

.about-image {
	max-height: 370px;
	margin-bottom: 30px;
	width: 100%;
	box-shadow: 4px 2px 4px #ccc;
	border-radius: 20px;
}

.about-cta {
	margin-bottom: 25px;
}

.about-button {
	margin-top: 0;
}

.about-cta p {
	margin-bottom: 8px;
	font-size: 125%;
	font-weight: 400;
}

.about-cta h5 {
	display: inline;
}

#about-section {
	margin-bottom: 20px;
}


/* contact.html -------*/

label {
	font-size: 125%;
	padding-top: 5px;
}

h2+p {
	padding-top: 5px;
}

h2>i {
	font-size: 75%;
}

form>h3 {
	font-size: 125%;
	padding-bottom: 10px;
	text-decoration: none;
}

.contact-info-box {
	height: 325px;
}

.contact-info-content {
	margin-top: 10px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 35px;
	font-style: italic;
}

#enquiries {
	margin-bottom: 40px;
}

#bookings {
	margin-top: 40px;
}

#email-form {
	margin-top: 2rem;
	margin-bottom: 2.5rem;
	width: 500px;
	padding: 30px;
	height: 340px;
}

button#email-button {
	margin: 5px 0 0 0;
}

#email-button:active {
	background-color: #fafafa;
	color: black;
	border: 1px solid grey;
}


/* credit: outline and box-shadow info to overide boostrap courtesy of Janak's post on https://stackoverflow.com/questions/23333231/bootstrap-button-shows-blue-outline-when-clicked */

#email-button:focus {
	background-color: #fafafa;
	color: black;
	border: 1px solid #8cc1fa;
	outline: none !important;
	box-shadow: none !important;
}


/* animations -------- */


/* credit: animation learnt from https://www.youtube.com/watch?v=zHUpx90NerM&ab_channel=TraversyMedia at around 33 minutes */

.appear-first {
	opacity: 0;
	animation-name: appear;
	animation-duration: 2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.appear-second {
	opacity: 0;
	animation-name: appear;
	animation-duration: 2s;
	animation-delay: 1.75s;
	animation-fill-mode: forwards;
}

.appear-third {
	opacity: 0;
	animation-name: appear;
	animation-duration: 2s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}

@keyframes appear {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}


/* media queries ------- */

@media screen and (max-width: 1422px) {
	#nav-main-links {
		position: relative;
		left: 8%;
	}
}

@media screen and (min-width: 1200px) {
	article p {
		font-size: 110%;
	}
}

@media screen and (max-width: 1103px) {
	#nav-main-links {
		position: relative;
		left: 5%;
	}
}

@media screen and (max-width: 992px) {
	.disappear {
		display: none;
	}
	.cta-heading {
		font-size: 160%;
		margin-top: 10px;
	}
	.cta-content {
		margin-top: 0;
	}
	#nav-main-links {
		left: 2%
	}
}

@media screen and (max-width: 825px) {
	#nav-main-links {
		font-size: 102%;
	}
}

@media screen and (min-width: 768px) {
	h3.date {
		margin-top: 16px;
	}
}

@media screen and (max-width: 767px) {
	.cta {
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
	}
	.cta-heading {
		font-size: 175%;
		margin-top: 5px;
	}
	.cta-content {
		margin-top: 1%;
	}
	.max-width-reduce {
		max-width: 80%;
	}
	.navbar-brand {
		font-size: 125%;
	}
	.youtube-iframe {
		height: 325px;
	}
	#nav-main-links {
		position: relative;
		left: 38%;
		font-size: 200%;
	}
	#nav-social-links {
		position: relative;
		left: 36%;
		font-size: 175%;
	}
	img#hero-image {
		max-width: 150%;
		position: relative;
		right: 24%;
	}
	div#hero-outer {
		overflow: hidden;
		margin-bottom: 0;
	}
	#music-cta h3 {
		font-size: 80%;
	}
}

@media screen and (max-width: 576px) {
	.youtube-iframe {
		height: 250px;
	}
}

@media screen and (max-width: 500px) {
	.contact-info-box h2 {
		font-size: 165%;
	}
	#nav-main-links {
		left: 33%;
	}
	#nav-social-links {
		left: 30%;
	}
}

@media screen and (min-width: 500px) {
	h2+p {
		font-size: 130%;
	}
}

@media screen and (max-width: 447px) {
	#email-form {
		height: 360px;
	}
	button#email-button {
		margin-top: 0;
	}
}

@media screen and (max-width: 392px) {
	.email-address {
		font-size: 70%;
	}
	#nav-main-links {
		left: 31%;
	}
	#nav-social-links {
		left: 27%;
	}
}

@media screen and (max-width: 362px) {
	.youtube-iframe {
		height: 225px;
	}
	#music-cta {
		font-size: 85%;
	}
}

@media screen and (max-width: 343px) {
	div#music-cta {
		font-size: 120%;
	}
	.cta#music-cta {
		height: 120px;
	}
}

@media screen and (max-width: 323px) {
	.cta-heading {
		font-size: 150%;
	}
}

@media screen and (max-width: 316px) {
	.cta-heading {
		font-size: 147%;
	}
	.navbar-brand {
		font-size: 115%;
	}
	.releases {
		width: 100%;
	}
	h3.alt-font {
		padding: 0;
		margin: 0;
	}
	#buy-now-button {
		margin-left: 3rem;
	}
	div#music-cta {
		font-size: 110%;
	}
	#enquiries h2,
	#bookings h2 {
		font-size: 130%;
	}
	section#email-form {
		padding-top: 25px;
	}
}

@media screen and (max-width: 280px) {
	.youtube-iframe {
		height: 200px;
	}
}

@media (orientation: landscape) {
	img#hero-image {
		width: 100%;
		position: relative;
		left: 1%;
	}
}